{% import "@ContaoCore/Image/Studio/_macros.html.twig" as studio %}
{% extends '@Contao/block_searchable.html5' %}

{% block content %}
    <p>{% if members is empty %}
        {{ 'tl_content.MSC.memberListing.emptyMemberlist'|trans({}, 'contao_tl_content') }}
    {% else %}
        {{ 'tl_content.MSC.memberListing.results'|trans({0:total}, 'contao_tl_content') }}
    {% endif %}
    </p>

    {% block members %}
            {% for member in members %}
                <div class="member">
                    <div class="image">
                        {% if member.figure|default %}
                            {{ studio.figure(member.figure, {}, false) }}
                        {% endif %}
                    </div>
                    <div class="data">
                        {{ member.name }}
                    </div>
                </div>

            {% endfor %}
        </>
    {% endblock %}

    {% if pagination|default %}
        {{ pagination.generate("\n ")|raw }}
    {% endif %}
{% endblock %}